<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="col-md-12 col-sm-12">
          <img class="col-md-2 col-sm-12 img-fluid" src="../static/img/logo.jpeg" alt="logo">
          <h1 class="col-md-8 col-sm-12">UNIDAD EDUCATIVA<br>ALFREDO VEINTIMILLA MOSCOZO</h1>
          <input class="col-md-2 col-sm-12" type="search" placeholder="Buscar ...">  
        </header>  
      </div>
      <div class="row sticky-top">
        <nav class="navbar navbar-expand-sm navbar-light bg-light col-xl-12">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menuPrincipal" class="collapse navbar-collapse">
                <ul class="list-inline navbar-nav mx-auto">
                    <li class="list-inline-item nav-item active"><a class="nav-link" href="#">INICIO</a></li>
                    <li class="list-inline-item nav-item"><a class="nav-link" href="#">PROFESOR</a></li>
                    <li class="list-inline-item nav-item"><a class="nav-link" href="#">ESTUDIANTE</a></li>
                    <li class="list-inline-item nav-item"><a class="nav-link" href="#">¿QUIENES SOMOS?</a></li>
                    <li class="list-inline-item nav-item"><a class="nav-link" href="#">¿QUE HACEMOS?</a></li>
                </ul>
            </div>
        </nav>
      </div>      
      <div class="row">
        <section class="col-12 col-sm-12">
          <div class="col-8 col-sm-8">
            <a class="col-12 col-sm-12" href="https://placeholder.com"><img class="col-12 col-sm-12" src="https://via.placeholder.com/520x230" alt="imagen escuela"></a>
            <article class="col-12 col-sm-12">
              <h2 class="col-12 col-sm-12">¿DONDE UBICARNOS?</h2>
              <div class="col-12 col-sm-12" id="map">El mapa ira aqui</div>
            </article>  
          </div>
          <div class="col-4 col">
            <article class="col-12 col-sm-12">
              <h2 class="col-12 col-sm-12">NOTICIAS</h2>
              <p class="col-12 col-sm-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
              </p>
            </article>  
          </div>          
        </section>  
      </div>
      <div class="row">
        <footer class="col-12 col-sm-12">
          <a class="col-12 col-sm-12" href="#">CONTACTANOS</a>
          <p class="col-12 col-sm-12">Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
