<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
  </head>
  <body>
    <header>
      <img src="../static/img/logo.jpeg" alt="">
      <h1>UNIDAD EDUCATIVA<br>ALFREDO VEINTIMILLA MOSCOZO</h1>
      <input class="header-right" type="search" placeholder="Buscar ...">
    </header>
    <nav>
      <a href="#">INICIO</a>
      <a href="#">PROFESOR</a>
      <a href="#">ESTUDIANTE</a>
      <a href="#">¿QUIENES SOMOS?</a>
      <a href="#">¿QUE HACEMOS?</a>
    </nav>
    <section>
      <a href="https://placeholder.com"><img src="https://via.placeholder.com/520x230" alt=""></a>
      <article>
        <h2>¿DONDE UBICARNOS?</h2>
        <div id="map">El mapa ira aqui</div>
      </article>
      <article>
        <h2>NOTICIAS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
        </p>
      </article>
    </section>
    <footer>
      <a class="a_contactanos_footer" href="#">CONTACTANOS</a>
      <p class="p_footer">Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>