<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
  </head>
  <body>
    <header>
      <h1>BIENVENIDO, NOMBRES APELLIDOS</h1>
      <a>SALIR</a>
    </header>
    <aside>
      <h2>CURSOS</h2>
      <a href="#">MATEMATICAS A1</a>
      <a href="#">MATEMATICAS A2</a>
      <a href="#">MATEMATICAS A3</a>
      <a href="#">FISICA A1</a>
      <a href="#">FISICA A2</a>
    </aside>
    <section>
      <button type="button">GUARDAR</button>
      <button type="button">ELIMINAR</button>
      <table>
        <tr>
          <th>NO</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>CEDULA</th>
          <th>NOTA LECCION</th>
          <th>NOTA DEBER</th>
          <th>NOTA EXAMEN</th>
          <th>NOTA FINAL</th>          
        </tr>
        <tr>
          <td>1</td>
          <td>CARLA</td>
          <td>MORALES</td>
          <td>0987654321</td>
          <td>10</td>
          <td>8</td>
          <td>9</td>
          <td>9.5</td>          
        </tr>
        <tr>
          <td>2</td>
          <td>JOSE</td>
          <td>ORELLANA</td>          
          <td>1234567890</td>
          <td>8</td>
          <td>6</td>
          <td>7</td>
          <td>7.5</td>
        </tr>
      </table>
    </section>
    <footer>
      <a class="a_contactanos_footer" href="#">CONTACTANOS</a>
      <p class="p_footer">Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>