<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
  </head>
  <body>
    <header>
      <img src="../static/img/logo.jpeg" alt="">
      <h1>UNIDAD EDUCATIVA<br>ALFREDO VEINTIMILLA MOSCOZO</h1>
      <input class="header-right" type="search" placeholder="Buscar ...">
    </header>
    <nav>
      <a href="#">INICIO</a>
      <a href="#">PROFESOR</a>
      <a href="#">ESTUDIANTE</a>
      <a href="#">¿QUIENES SOMOS?</a>
      <a href="#">¿QUE HACEMOS?</a>
    </nav>
    <section>
      <form>
        <h2>LOGIN</h2>
        <label for="n_input_usuario">USERNAME</label>
        <input type="text" placeholder="Ingrese usuario ..." name="n_input_usuario" required>
        <label for="n_input_pass">CONTRASENA</label>
        <input type="password" placeholder="Ingrese su contrasena ..." name="n_input_pass" required>
        <button type="button">ACEPTAR</button>
        <a href="#">Olvidaste tu contrasena?</a>
    </section>
    <footer>
      <a class="a_contactanos_footer" href="#">CONTACTANOS</a>
      <p class="p_footer">Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>