<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <figure>
        <img src="../static/img/logo.jpeg" alt="">
      </figure>
      <h1>UNIDAD EDUCATIVA<br>ALFREDO VEINTIMILLA MOSCOZO</h1>
      <input type="search" placeholder="Buscar ...">
    </header>
    <nav>
      <a href="#">INICIO</a>
      <a href="#">PROFESOR</a>
      <a href="#">ESTUDIANTE</a>
      <a href="#">¿QUIENES SOMOS?</a>
      <a href="#">¿QUE HACEMOS?</a>
    </nav>
    <section>
      
    </section>
    <footer>
      <a href="#">CONTACTANOS</a>
      <p>Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
