<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Unidad Educativa Alfredo Veintimilla Moscozo</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <img src="../static/img/logo.jpeg" alt="">
      <h1>UNIDAD EDUCATIVA<br>ALFREDO VEINTIMILLA MOSCOZO</h1>
      <input class="header-right" type="search" placeholder="Buscar ...">
    </header>
    <nav>
      <a href="#">INICIO</a>
      <a href="#">PROFESOR</a>
      <a href="#">ESTUDIANTE</a>
      <a href="#">¿QUIENES SOMOS?</a>
      <a href="#">¿QUE HACEMOS?</a>
    </nav>
    <section>
      <article>
        <h2>INTEGRANTES:</h2>
        <ul>
          <li>EMILIO MORAN PILLIGUA</li>
          <li>LUIS TORO YEROVI</li>
        </ul>
      </article>
    </section>
    <footer>
      <a class="a_contactanos_footer" href="#">CONTACTANOS</a>
      <p class="p_footer">Unidad Educativa Alfredo Veintimilla Moscozo © 2018. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
