@import url('https://fonts.googleapis.com/css?family=Ubuntu');

img {
	width: 100px;
}

.texto {
  	font-family: 'Ubuntu', sans-serif;	  	
}

.header_principal {
	top: 0;
	background-color: #98b2ae;
}

.header_h1 {
	font-weight: bold;
	font-size: 24px;
	margin-top: 1%;
	margin-bottom: 0%;
	color: black;
	color: #f2fffd;

}

.header_in {
	top: 0;
	background-color: #98b2ae;
	padding: 1% 0%;
}

.salir {
	text-decoration: none;
	font-weight: bold;
	float: right !important;
	margin-top: 1%;
	margin-bottom: 1%;
}

.header_search {
	float: right;
	margin-top: 2%;
	margin-bottom: 1%;
	color: #c0c0c0;
	font-weight: bold;
}

.navegacion {
	background-color: #b2afa1;
}

.navegacion_element {
	font-weight: bold;
	color: #f2fffd !important;
}

.principal {
	margin-top: 2%;
	margin-bottom: 2%;
}

.principal_qh {
	margin: 5% 2%;
}

.principal_2 {
	margin: 10% 2%;
}

.principal_in {
	margin: 15% 2%;
}


.div_arrow {
	text-align: center;

}

.next_new {
    background-color: gray;
    display: inline-block;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 10px;
}

.caja_noticia {
	background-color: #ccc5ad;
	color: #f2fffd;
	font-size: 18px;
	font-weight: bold;
	padding-top: 4%;
	padding-bottom: 4%;
	margin: 1% 1%;
}

.caja_integrantes {
	background-color: #ccc5ad;
	color: #f2fffd;
	font-size: 18px;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 0%;
}

.portada {
	margin: 1% 1%;
}

.caja_mapa {
	background-color: #ccc5ad;
	color: #f2fffd;
	font-size: 18px;
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 1% 1%;
}

.p_informacion {
	color: #7a7a7a;
	font-size: 14px;
	border: 1px solid #7a7a7a;
	padding-top: 10%;
	padding-bottom: 10%;
	font-weight: bold;
}

.lista_integrantes {
	border: 1px solid #7a7a7a;
}

.integrantes {
	list-style: none;
	color: #7a7a7a;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

footer {
	bottom: 0;
	background-color: #98b2ae;
	text-align: center;
}

.footer_a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #f2fffd;
}

.footer_p {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #f2fffd;	
}

.casillas_ct {
	margin: 2% 0%;
}

.principal_contactanos {
	margin: 5% 2%;
}

.titulo_informacion {
	font-weight: bold;
	color: #7a7a7a;
	font-size: 24px;
	margin: auto -1%;
}

.titulo_informacion_p {
	font-weight: bold;
	color: #7a7a7a;
	font-size: 24px;
	text-align: center;
}

.form_contacto {
	border: 1px solid #7a7a7a;
}

.caja_login {
	background-color: #98b2ae;
	color: #f2fffd;
	font-size: 24px;
	font-weight: bold;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0% 0%;
}

.formulario_centro {
	border: 1px solid #7a7a7a;	
}


.label_login {
	color: #7a7a7a;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.input_ct {
	border-radius: 10px;
	color: #98b2ae;
	font-weight: bold;
	font-size: 14px;
}

.tarea_ct {
	border-radius: 10px;
	color: #98b2ae;
	font-weight: bold;
	font-size: 14px;
}

.input_login {
	border-radius: 10px;
	height: 70%;
	width: 80%;
	margin: auto 10%;
	color: #98b2ae;
	font-weight: bold;
	font-size: 14px;
}

.boton {
	height: 70%;
	width: 50%;
	border-radius: 10px;
	background-color: #e6e6e6;
	font-weight: bold;
	font-size: 16px;
	color: #98b2ae;
	margin: auto 25%;
}

.casillas_lg {
	margin: 2% 0%;
	text-align: center;
}

.boton_ct {
	height: 120%;
	width: 20%;
	border-radius: 10px;
	background-color: #e6e6e6;
	font-weight: bold;
	font-size: 16px;
	color: #98b2ae;
	margin: auto 15%;
}

.div_map {
	width: 100%;
	height: 400px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 0% 1%;
}
 
.timeline ul {
  background: #456990;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

[class^="col-"] {
    float: left
    /*border: 1px solid red;*/
}

#sidebar {
    background: black;
    height: 40em !important;
    /*color: #f2fffd;*/
}


#sidebar .sidebar-header {    
    background-color: #7a7a7a;
    text-align: center;
    font-weight: bold;
    padding: 8%;
}


.titulo_h2_sb {
	font-size: 24px;
	font-weight: bold;
}


#sidebar ul.components {
}


#sidebar ul li a {
    padding: 10%;
    display: block;
    /*border-top: 1px solid #7a7a7a;*/
    border-bottom: 1px solid #7a7a7a;
    text-decoration: none;
    font-weight: bold;    
    color: #7a7a7a;
    font-size: 14px;
	margin: 0%;   
}

.section-notas {
	margin: 1% 0%;
}

.tabla-notas {
	margin: 5% 1%;
}

/*
.clase {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
*/

/*
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

*/